@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Caveat:wght@400..700&display=swap');

.caveat {
    font-family: 'Caveat', cursive; /* Use cursive as a fallback */
}

.akayaKanadaka {
    font-family: 'Akaya Kanadaka', sans-serif; /* Use sans-serif as a fallback */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Akaya Kanadaka"
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: "Akaya Kanadaka"
}

header {
    background-color: rgb(238, 55, 55);
    padding: 1em;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 5px solid black;
    border-left: 20px solid yellow;
    border-right: 20px solid yellow;
    border-top: 5px solid black;
    margin-top: 13px;
  }

nav button{
    height: 58px;
    width: 175px;
    box-shadow: 0 0 0 2px;
    background-color: silver;  
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 45px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: underline yellow 2px;
    text-underline-offset: 9px;
    font-family: "Akaya Kanadaka";
    padding-bottom: 20px;
}

nav button:hover{
    background-color: yellow;
}

#homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 9px;
    background-color: white;
    width: 1100px;
    height: 80%;
    border-left: 17px black solid;
    border-right: 17px black solid;
    padding: 13px 0;
    margin-bottom: 13px;
}

#homeTitle{
    font-size: 3rem;
    position: relative;
}

#homeTitle::before,
#homeTitle::after {
  content: "•";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: blue;
}

#homeTitle::before {
  left: -27px;
}

#homeTitle::after {
  right: -27px;
}

#homeSubTitle{
    font-size: 2rem;
    text-decoration: underline yellow 5px;
    text-underline-offset: 13px;
}

#homeImage{
    height: 400px;
    width: 625px;
    border-radius: 9px;
    margin: 13px 0;
}

#homeDescription{
    text-align: center;
    text-indent: 2px;
    width: 940px;
    font-size: 1.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    color: blue;
    font-size: 2rem;
}